<a href="https://colab.research.google.com/github/prashant3094/Data-Structures-and-Algorithms-in-Python---Full-Course-for-Beginners/blob/main/bubble_sort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
def bubble_sort(elements):
    size = len(elements)

    for i in range(size-1):
        swapped = False
        for j in range(size-1-i):
            if elements[j] > elements[j+1]:
                tmp = elements[j]
                elements[j] = elements[j+1]
                elements[j+1] = tmp
                swapped = True

        if not swapped:
            break



elements1 = [5,9,2,1,67,34,88,34]
elements2 = [1,2,3,4,2]
elements3 = ["mona", "dhaval", "aamir", "tina", "chang"]

bubble_sort(elements1)
print(elements1)
print('***********')
bubble_sort(elements2)
print(elements2)
print("***********")
bubble_sort(elements3)
print(elements3)
print("******************")

[1, 2, 5, 9, 34, 34, 67, 88]
***********
[1, 2, 2, 3, 4]
***********
['aamir', 'chang', 'dhaval', 'mona', 'tina']
******************